<section>
    <div class="arrow-container">
        <a href="#landingPage" (mouseenter)="arrowBtnHovered = true" (mouseleave)="arrowBtnHovered = false"
            class="arrow">
            <img *ngIf="!arrowBtnHovered" src="assets/icons/arrow.svg" alt="scroll_to_bottom">
            <img *ngIf="arrowBtnHovered" src="assets/icons/arrow_hover.svg" alt="scroll_to_bottom">
        </a>
    </div>
    <h2>Contact me</h2>
    <div class="contact-overview">
        <p class="open-for">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt facilis consectetur,
            dolore velit
            assumenda voluptate! Quidem maxime sequi molestiae atque quibusdam. Tempora, voluptas! Suscipit nesciunt
            vitae, ea fugit libero necessitatibus?
        </p>
        <div class="contact-oportunities">
            <p (mouseenter)="mailHovered = true" (mouseleave)="mailHovered = false">
                <img [src]="mailHovered ? 'assets/icons/icon_mail_hover.svg' : 'assets/icons/icon_mail.svg'"
                    alt="mail icon">
                E-Mail: ...
            </p>
            <p (mouseenter)="phoneHovered = true" (mouseleave)="phoneHovered = false">
                <img [src]="phoneHovered ? 'assets/icons/icon_phone_hover.svg' : 'assets/icons/icon_phone.svg'"
                    alt="phone icon">
                Tel.: (+49) 1573 4850567
            </p>
        </div>
    </div>
    <form (ngSubmit)="onSubmit()">
        <section class="sender">
            <div>
                <label for="name">Your name <span>is required</span></label>
                <input (blur)="checkInput('name')" id="name" type="text">
            </div>
            <div>
                <label for="mail">Your Email <span>is required</span></label>
                <input (blur)="checkInput('mail')" id="mail" type="text">
            </div>
        </section>
        <label for="message">Your Message <span>is required</span></label>
        <textarea (blur)="checkInput('message')" id="message"></textarea>
        <div class="submit">
            <div class="privacy-policy">
                <input type="checkbox" (click)="checkboxChecked = !checkboxChecked"
                    (mouseenter)="checkboxHovered = true" (mouseleave)="checkboxHovered = false">
                <div>
                    <div class="checkbox" [class.checkbox-hovered]="checkboxHovered"
                        [class.checkbox-checked]="checkboxChecked"></div>
                    <p>I've read the <a><span>privacy policy</span></a> and agree to the processing of my data as
                        outlined.</p>
                </div>
            </div>
            <button class="btn-secondary"
                [disabled]="checkboxChecked? false: true">Send</button>
        </div>
    </form>
</section>