<section>
    <div class="arrow-container arrow-top">
        <a href="#top" (mouseenter)="arrowBtnHovered = true" (mouseleave)="arrowBtnHovered = false"
            class="arrow">
            <img *ngIf="!arrowBtnHovered" src="assets/icons/arrow.svg" alt="scroll_to_top">
            <img *ngIf="arrowBtnHovered" src="assets/icons/arrow_hover.svg" alt="scroll_to_top">
        </a>
    </div>
    <h2>{{language == 'DE'? 'Kontakt aufnehmen': 'Contact me'}}</h2>
    <div class="contact-overview">
        <span class="motivation-span">{{language == 'DE'? 'Bereit für eine Zusammenarbeit? ': 'Let us work together!'}}</span>
        <p class="open-for">
            {{language == 'DE'? 'Ich freue mich über Jobangebote und Projekte in der Softwareentwicklung. Für Herausforderungen außerhalb meiner aktuellen Skills (z.B. Backend) bin ich ebenfalls offen und erweitere meine Fähigkeiten gern.': 'Feel free to get in touch with job offers or opportunities in software development. I’m also open to challenges outside my current skill set (e.g. backend) and enjoy expanding my abilities.'}}
        </p>
        <div class="contact-oportunities">
            <!-- insert mail (text, href)-->
            <a (mouseenter)="mailHovered = true" (mouseleave)="mailHovered = false" href="vollmann.anne@web.de">
                <img [src]="mailHovered ? 'assets/icons/icon_mail_hover.svg' : 'assets/icons/icon_mail.svg'"
                    alt="mail icon">
                E-Mail: vollmann.anne&#64;web.de
            </a>
            <a (mouseenter)="phoneHovered = true" (mouseleave)="phoneHovered = false" a href="tel:+4915734850567">
                <img [src]="phoneHovered ? 'assets/icons/icon_phone_hover.svg' : 'assets/icons/icon_phone.svg'"
                    alt="phone icon">
                Tel.: (+49) 1573 4850567
            </a>
        </div>
    </div>
    <form (ngSubmit)="onSubmit()">
        <section class="sender">
            <div>
                <label for="name">
                    {{language == 'DE'? 'Name': 'Your name'}}
                    <span>{{language == 'DE'? 'ist erforderlich': 'is required'}}</span>
                </label>
                <input (blur)="checkInput('name')" id="name" type="text" placeholder="{{language == 'DE'? 'Name': 'Your name'}}">
            </div>
            <div>
                <label for="mail">
                    {{language == 'DE'? 'E-Mail-Adresse': 'Your Email'}}
                    <span>{{language == 'DE'? 'ist erforderlich':'is required'}}</span>
                </label>
                <input (blur)="checkInput('mail')" id="mail" type="text" placeholder="{{language == 'DE'? 'E-Mail-Adresse': 'Your Email'}}">
            </div>
        </section>
        <label for="message">
            {{language == 'DE'? 'Nachricht': 'Your Message'}}
            <span>{{language == 'DE'? 'ist erforderlich': 'is required'}}</span>
        </label>
        <textarea (blur)="checkInput('message')" id="message" placeholder="{{language == 'DE'? 'Nachricht': 'Your Message'}}"></textarea>
        <div class="submit">
            <div class="privacy-policy">
                <input type="checkbox" (click)="checkboxChecked = !checkboxChecked"
                    (mouseenter)="checkboxHovered = true" (mouseleave)="checkboxHovered = false">
                <div>
                    <div class="checkbox bg-img-properties" [class.checkbox-hovered]="checkboxHovered"
                        [class.checkbox-checked]="checkboxChecked"></div>
                    <p>{{language == 'DE'? 'Ich habe die': 'I’ve read the'}}
                        <a href="privacy-policy"><span>{{language == 'DE'? 'Datenschutzhinweise ': 'privacy policy'}}</span></a>
                        {{language == 'DE'? 'gelesen und stimme der darin beschriebenen Verarbeitung meiner Daten zu.': 'and agree to the processing of my data as outlined.'}}
                    </p>
                </div>
            </div>
            <button class="btn-secondary" [disabled]="checkboxChecked? false: true">{{language == 'DE'? 'Abschicken': 'Send'}}</button>
        </div>
    </form>
    <div class="arrow-container arrow-bottom">
        <a href="#top" (mouseenter)="arrowBtnHovered = true" (mouseleave)="arrowBtnHovered = false"
            class="arrow">
            <img *ngIf="!arrowBtnHovered" src="assets/icons/arrow.svg" alt="scroll_to_top">
            <img *ngIf="arrowBtnHovered" src="assets/icons/arrow_hover.svg" alt="scroll_to_top">
        </a>
    </div>
</section>