section {
    overflow-x: clip;
}

.arrow-container {
    height: 0;
    position: relative;
    top: calc(11.75rem - clamp(5.25rem, 8.4643rem + -3.5714vw, 6.5rem));
    padding: var(--padding-main-primary);
    justify-self: flex-end;

    .arrow {
        img {
            transform: rotate(180deg);
        }
    }
}

.arrow-bottom {
    display: none;
}

.contact-overview {
    padding: var(--padding-main-secondary);
    padding-bottom: 48px;
    gap: calc(3.75rem - clamp(1.5rem, 2.6786rem + -2.1429vw, 2.25rem));
    display: flex;

    .motivation-span {
        display: none
    }

    .open-for {
        flex: 1;
    }

    .contact-oportunities {
        gap: 16px;
        flex: 1;
        display: flex;
        flex-direction: column;

        a {
            gap: 16px;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover {
                color: var(--color-secondary) !important;
            }
        }
    }
}

form {
    padding: var(--padding-main-secondary);

    label span {
        color: var(--color-error);
    }

    .sender {
        width: 100%;
        padding-bottom: calc(2.185rem - clamp(0.875rem, 1.4343rem + -0.6214vw, 1.31rem));
        gap: calc(2.185rem - clamp(0.875rem, 1.4343rem + -0.6214vw, 1.31rem));
        display: flex;

        >div {
            flex: 1;

            input {
                width: 100%;
            }
        }
    }

    .submit {
        width: 100%;
        padding-top: calc(2.185rem - clamp(0.875rem, 1.4343rem + -0.6214vw, 1.31rem));
        display: flex;
        justify-content: space-between;

        .privacy-policy {
            display: flex;
            align-items: center;

            >div {
                flex: 1;
                gap: 6px;
                display: flex;
                align-items: center;
                transform: translateX(-24px);

                p {
                    flex: 1;
                    font-size: calc(1.875rem - clamp(0.875rem, 1.0357rem + -0.1786vw, 1rem));
                }
            }
        }
    }
}

.checkbox {
    width: 24px;
    height: 24px;
    background-image: url('../../../../public/assets/icons/checkbox.svg');
}

.checkbox-hovered {
    background-image: url('../../../../public/assets/icons/checkbox_hover.svg') !important;
}

.checkbox-checked {
    background-image: url('../../../../public/assets/icons/checkbox_checked.svg') !important;
}

.input-error {
    border: 1px solid var(--color-error) !important;
    color: var(--color-error) !important;
}

.label-error {
    color: var(--color-error);
}

.inquiry-successful {
    height: 0;
    position: relative;
    right: -100vb;
    animation: slide-in-out 5s ease-in-out;

    p {
        height: fit-content;
        padding: var(--padding-main-secondary);
        padding-top: calc(4rem - clamp(1.5rem, 3.1180rem + -1.7978vw, 2.5rem));
        position: relative;
        text-align: center;
        color: var(--color-secondary);
        font-size: calc(2.25rem - clamp(1rem, 1.4045rem + -0.4494vw, 1.25rem));
        font-weight: 600;
    }
}

@keyframes slide-in-out {
    0% {
        right: -100vb;
    }

    10% {
        right: 0;
    }

    90% {
        right: 0;
    }

    100% {
        right: 200vb;
    }
}

@media (max-width: 550px) {
    .arrow-top {
        display: none;
    }

    .arrow-bottom {
        width: 100%;
        height: 244px;
        top: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-overview {
        padding-bottom: 32px;
        flex-direction: column-reverse;

        .contact-oportunities {
            flex-direction: column-reverse;
        }

        .motivation-span {
            display: flex;
            justify-content: center;
        }
    }

    form {
        label {
            display: none;
        }

        input,
        textarea {
            margin-top: 14.55px;
        }

        .sender {
            flex-direction: column;
        }

        .submit {
            gap: 24px;
            flex-direction: column;

            button {
                width: fit-content;
                align-self: flex-end;
            }
        }
    }

    .inquiry-successful p {
        padding-top: 18px;
    }
}