button {
  padding: 0;

  p {
    color: var(--color-primary);
  }

  &:hover {
    p {
      color: var(--color-white);
    }
  }
}

nav {
  height: 104px;
  z-index: 3;
  position: sticky;
  top: 0;
  background: var(--color-secondary);
}

.nav-large-screen {
  width: 100%;
  height: 100%;
  padding: 0 calc(8.312999999999999rem - clamp(1.5rem, 15.162rem + -15.18vw, 6.813rem));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-links {
  height: 100%;
  width: calc(75rem - clamp(30rem, 68.5714rem + -42.8571vw, 45rem));
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-content: center;
  list-style-type: none;

  li {
    width: 100%;
    display: flex;
    justify-content: center;

    a {
      width: 100%;
      height: 100%;
      font-size: calc(3rem - clamp(1.375rem, 2.0179rem + -0.7143vw, 1.625rem));
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      color: var(--color-primary);

      &:hover {
        color: var(--color-white);
      }
    }
  }
}

.btn-current-section {
  color: var(--color-white) !important;
  background-image: url("../../../../../public/assets/icons/bg_shape_navbar.svg");
  background-size: 84px 56px !important;
}

.language-selection {
  display: flex;
  justify-content: space-between;

  button {
    padding: 6px 10px;
    font-size: 18px;
  }
}

.btn-current-language {
  p {
    color: var(--color-white);
  }
  background-image: url("../../../../../public/assets/icons/bg_shape_navbar.svg");
}

.burger-menu {
  width: calc(4.215rem - clamp(1.875rem, 2.6057rem + -1.3286vw, 2.34rem));
  height: calc(4.5rem - clamp(2rem, 2.7857rem + -1.4286vw, 2.5rem));
  background-image: url("../../../../../public/assets/icons/burger_menu.svg");
  transition: all 0.25s ease-in-out;

  &:hover {
    background-image: url("../../../../../public/assets/icons/burger_menu_hover.svg");
    transition: all 0.25s ease-in-out;
  }
}

.close-menu {
  background-image: url("../../../../../public/assets/icons/close_menu.svg") !important;
}

.nav-small-screen {
  width: calc(48.75rem - clamp(18.75rem, 36.4286rem + -32.1429vw, 30rem));
  height: calc(60rem - clamp(23.125rem, 44.7321rem + -39.2857vw, 36.875rem));
  margin-top: calc(3.5rem - clamp(1.5rem, 2.2857rem + -1.4286vw, 2rem));
  gap: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../../../public/assets/icons/bg_shape_photo.svg");

  a {
    color: var(--color-primary);
    font-size: 22px;
  }
}

@media (max-width: 880px) {
  nav {
    height: 122px;
    background: var(--color-primary);
  }

  .nav-large-screen {
    padding: 0 calc(6rem - clamp(2rem, 5.1429rem + -5.7143vw, 4rem));
  }
}
