<section>
    <div class="anne-vollmann-hero">
        <div class="anne-vollmann-photo">
            <img class="photo" src="assets/img/anne_vollmann.png" alt="anne_vollmann">
        </div>

        <div class="anne-vollmann-headline">
            <div class="socials">
                <div class="logo" >
                    <img src="assets/icons/location.png" alt="anne_vollmann_logo">
                </div>
                <div class="social-btns">
                    <img *ngFor="let btn of socialBtns" [src]="btn.hover? btn.srcBase+'_hover.svg': btn.srcBase+'.svg'"
                        [alt]="btn.alt" (mouseenter)="btn.hover = true" (mouseleave)="btn.hover = false">
                </div>
            </div>
            <div class="title">
                <h1>Anne Vollmann</h1>
                <p class="title-addition">FRONTEND DEVELOPER</p>
            </div>
            <a href="#contact" (mouseenter)="setArrowBtnHovered(true)" (mouseleave)="setArrowBtnHovered(false)"
                class="arrow">
                <img *ngIf="!arrowBtnHovered" src="assets/icons/arrow.svg" alt="scroll_to_bottom">
                <img *ngIf="arrowBtnHovered" src="assets/icons/arrow_hover.svg" alt="scroll_to_bottom">
            </a>
        </div>
    </div>
</section>