<section>
    <div class="hero">
        <div [ngClass]="{'no-bg-img': navbarActive }" class="anne-vollmann-photo bg-img-properties">
            <img class="large-screen-only" src="assets/img/anne_vollmann.png" alt="anne_vollmann">
        </div>
        <div class="headline">
            <div class="socials large-screen-only">
                <div class="logo">
                    <img src="assets/icons/logo_av_light.svg" alt="anne_vollmann_logo">
                    <p>
                        A. Vollmann
                        <br>
                        <span>
                            developer
                        </span>
                    </p>
                </div>
                <div class="social-btns">
                    <a *ngFor="let btn of socialBtns" href="{{btn.href}}" target="_blank">
                        <img [src]="btn.hover? btn.srcBase+'_blue_hover.svg': btn.srcBase+'_blue.svg'" [alt]="btn.alt" (mouseenter)="btn.hover = true" (mouseleave)="btn.hover = false">
                    </a>
                </div>
            </div>
            <div class="title">
                <h1>
                    Anne Vollmann
                </h1>
                <p class="title-addition">
                    {{language == 'DE'? 'FRONTEND ENTWICKLERIN': 'FRONTEND DEVELOPER'}}
                </p>
            </div>
            <a href="#contact" (mouseenter)="arrowBtnHovered = true" (mouseleave)="arrowBtnHovered = false" class="arrow">
                <img *ngIf="!arrowBtnHovered" src="assets/icons/arrow.svg" alt="scroll_to_bottom">
                <img *ngIf="arrowBtnHovered" src="assets/icons/arrow_hover.svg" alt="scroll_to_bottom">
            </a>
        </div>
    </div>
</section>