span {
    color: var(--color-white);
    font-size: calc(2.125rem - clamp(1rem, 1.1607rem + -0.1786vw, 1.125rem));
}

.projects {
    padding-left: calc(6.375rem - clamp(0rem, 10.3146rem + -11.4607vw, 6.375rem));
    display: flex;

    li {
        min-width: calc(16rem - clamp(6rem, 11.1429rem + -5.7143vw, 10rem));
        height: calc(9rem - clamp(3rem, 6.8571rem + -4.2857vw, 6rem));
        padding: 0 calc(2.75rem - clamp(0.5rem, 2.7500rem + -2.5000vw, 2.25rem));
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-secondary);
        font-size: calc(3rem - clamp(1.125rem, 2.0893rem + -1.0714vw, 1.875rem));
        font-weight: 500;

        &:hover {
            color: var(--color-white);
            cursor: pointer;
        }
    }
}

.current-project {
    color: var(--color-white) !important;
    background-color: var(--color-tertiary);
    border-top-left-radius: calc(3.125rem - clamp(1.25rem, 2.0536rem + -0.8929vw, 1.875rem));
    border-top-right-radius: calc(3.125rem - clamp(1.25rem, 2.0536rem + -0.8929vw, 1.875rem));

    &:hover {
        cursor: default !important;
    }
}

.project {
    padding: var(--padding-main-primary);
    padding-top: calc(3.5rem - clamp(1.5rem, 2.1429rem + -0.7143vw, 2rem));
    padding-bottom: 28px;
    gap: calc(6rem - clamp(2.5rem, 5.0714rem + -2.8571vw, 3.5rem));
    display: flex;
    background-color: var(--color-tertiary);

    @media (min-width: 880px) {
        border-radius: 0 !important;
    }
}

.project-infos {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: calc(3.5rem - clamp(1.5rem, 2.1429rem + -0.7143vw, 2rem));

    section {
        display: flex;
        flex-direction: column;
        gap: calc(1.875rem - clamp(0.75rem, 1.2321rem + -0.5357vw, 1.125rem));
        background-color: var(--color-tertiary);

        .info-header {
            gap: calc(2rem - clamp(0.5rem, 1.7857rem + -1.4286vw, 1.5rem));
            display: flex;
            align-items: center;
            font-size: calc(2.875rem - clamp(1.125rem, 1.9286rem + -0.8929vw, 1.75rem));
        }

        article {
            font-size: calc(2.125rem - clamp(1rem, 1.1607rem + -0.1786vw, 1.125rem));
        }
    }
}

.project-overview {
    display: flex;
    flex-direction: column;
    align-items: center;

    .technologies {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            gap: calc(3.75rem - clamp(1.75rem, 2.8088rem + -1.1765vw, 2rem));
            display: flex;
            flex-wrap: wrap;

            img {
                height: 36px;
                margin-top: 12px;
            }
        }

        .technology {
            padding-left: 2px;
        }
    }

    .project-img>* {
        width: calc(49.442rem - clamp(21.1rem, 39.7223rem + -20.6914vw, 28.342rem));
        height: calc(33.308rem - clamp(13.808rem, 28.4446rem + -16.2629vw, 19.5rem));
        margin-top: 16px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(3.25rem - clamp(1.5rem, 2.1429rem + -0.7143vw, 1.75rem));
        background-color: var(--color-grey);
        object-fit: cover;
    }

    .project-btns {
        margin-top: 32px;
        gap: calc(3.5rem - clamp(1rem, 2.9286rem + -2.1429vw, 2.5rem));
        display: flex;
    }
}

@media (max-width: 880px) {
    .projects {
        justify-content: space-between;
        overflow-x: auto;

        li {
            width: 100%;
            min-width: 134px;
            max-width: 25%;
            color: var(--color-white);
        }

        &::-webkit-scrollbar-track {
            background: var(--color-tertiary);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--color-lightgrey);
        }
    }

    .current-project {
        color: var(--color-secondary) !important;
    }

    .project {
        border-radius: 30px;
        flex-direction: column;
    }

    .project-overview {
        order: 1;
        gap: 8px;

        .technologies {
            flex-direction: row;
            flex-wrap: wrap;
            gap: calc(0.625rem - clamp(0.25rem, 0.4464rem + -0.3571vw, 0.375rem));

            div {
                gap: unset;
            }
        }

        .duration {
            width: 100%;
        }

        .project-img>* {
            width: calc(45.155rem - clamp(16.813rem, 34.9300rem + -32.9400vw, 28.342rem));
            height: calc(30.238rem - clamp(10.738rem, 24.5069rem + -25.0343vw, 19.5rem));
            font-size: calc(3rem - clamp(1.25rem, 2.0357rem + -1.4286vw, 1.75rem));
        }
    }

    .project-infos {
        order: 2;

        section .info-header p {
            color: var(--color-secondary);
        }
    }
}

@media (max-width: 550px) {
    .project {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }
}