<section>
    <h2>My Projects</h2>
    <ol class="projects">
        <li *ngFor="let project of myProjects.projects; let i = index" (click)="setCurrentProject(i)"
            [ngClass]="{'current-project': this.currentProjectIndex == i}">
            {{i + 1}}. {{project.title}}
        </li>
    </ol>
    <div class="project">
        <div class="project-infos">
            <section *ngIf="myProjects.projects[currentProjectIndex].aboutDe !== ''">
                <div class="info-header">
                    <img src="assets/icons/bullet_point.svg" alt="bulletpoint">
                    <p>About the project</p>
                    <span *ngIf="myProjects.projects[currentProjectIndex].durationWeeks !== ''">
                        Duration: {{myProjects.projects[currentProjectIndex].durationWeeks}} weeks
                    </span>
                </div>
                <article>
                    {{myProjects.projects[currentProjectIndex].aboutDe}}
                </article>
            </section>
            <section *ngIf="myProjects.projects[currentProjectIndex].organizationDe !== ''">
                <div class="info-header">
                    <img src="assets/icons/bullet_point.svg" alt="bulletpoint">
                    <p>How i organised my work process</p>
                </div>
                <article>
                    {{myProjects.projects[currentProjectIndex].organizationDe}}
                </article>
            </section>
            <section *ngIf="myProjects.projects[currentProjectIndex].groupWorkDe !== ''">
                <div class="info-header">
                    <img src="assets/icons/bullet_point.svg" alt="bulletpoint">
                    <p>My group work experience</p>
                </div>
                <article>
                    {{myProjects.projects[currentProjectIndex].groupWorkDe}}
                </article>
            </section>
            <section *ngIf="myProjects.projects[currentProjectIndex].learnedDe !== ''">
                <div class="info-header">
                    <img src="assets/icons/bullet_point.svg" alt="bulletpoint">
                    <p>What i have learned</p>
                </div>
                <article>
                    {{myProjects.projects[currentProjectIndex].learnedDe}}
                </article>
            </section>
        </div>
        <div class="project-overview">
            <span>Technologies</span>
            <div class="technologies">
                <img *ngFor="let technology of myProjects.projects[currentProjectIndex].technologies; let j = index" src="assets/icons/icon_{{technology}}_small.svg">
            </div>
            <img class="project-img" src="{{myProjects.projects[currentProjectIndex].img}}" alt="{{myProjects.projects[currentProjectIndex].title}} image">
            <div class="project-btns">
                <a href="{{myProjects.projects[currentProjectIndex].href}}" target="_blank"><button class="btn-primary">Live Test</button></a>
                <a href="{{myProjects.projects[currentProjectIndex].github}}" target="_blank"><button class="btn-secondary">GitHub</button></a>
            </div>
        </div>
    </div>
</section>