<section *ngIf="language == 'DE'">
    <a href="main-content" class="arrow-back">
        <img src="assets/icons/arrow_back.png" alt="back to previous page">
    </a>
    <h1>Impressum</h1>
    <h2>Verantwortliche(r)</h2>
    <p>Anne Vollmann</p>
    <h3>Postanschrift</h3>
    <p>Prof.-Billroth-Str. 14<br />
        01259 Dresden</p>
    <h3>Kontakt</h3>
    <p>E-Mail: kontakt&#64;anne-vollmann.de</p>
    <p>Telefon: +49 1573 4850567</p>
    <h2>Hinweise zur Website</h2>
    <h3>Urheberrechtliche Hinweise</h3>
    <p>Logo-Design von <a class="linkedin-link" href="https://www.linkedin.com/in/thomas-vollmann-b31a70268/"
            target="_blank">Thomas Vollmann</a></p>
    <br><br>
    <p><em>Dieses Impressum wurde mit Hilfe des <a href="https://www.activemind.de/generatoren/impressum/"
                target="_blank" rel="noopener">Impressums-Generators der activeMind AG </a>erstellt (Version
            2024-07-21).</em></p>
</section>

<section *ngIf="language == 'EN'">
    <a href="main-content" class="arrow-back">
        <img src="assets/icons/arrow_back.png" alt="back to previous page">
    </a>
    <h1>Legal Notice</h1>
    <h2>Controller</h2>
    <p>Anne Vollmann</p>
    <h3>Postal address</h3>
    <p>Prof.-Billroth-Str. 14<br />
        01259 Dresden</p>
    <h3>contact</h3>
    <p>Tel: +49 1573 4850567</p><br />
    <p>Mail: kontakt&#64;anne-vollmann.de</p>
    <h2>Information about this website</h2>
    <h3>Copyright Notice</h3>
    <p>Logo-Design by <a class="linkedin-link" href="https://www.linkedin.com/in/thomas-vollmann-b31a70268/"
            target="_blank">Thomas Vollmann</a></p>
    <br><br>
    <p><em>This legal notice was created with the help of the <a href="https://www.activemind.de/generatoren/impressum/"
                target="_blank" rel="noopener">legal-notice-generator of activeMind AG </a>(Version
            2024-07-21).</em></p>
</section>