h2 {
    font-size: 32px;
    padding-bottom: calc(5rem - clamp(1.5rem, 4.0714rem + -2.8571vw, 3.5rem));
}

.references {
    padding: var(--padding-main-primary);
    display: flex;
    justify-content: center;
    gap: 12px;
}

.reference {
    //height: calc(43.125rem - clamp(18.125rem, 26.9643rem + -9.8214vw, 25rem));
    //width: calc(43.125rem - clamp(18.125rem, 26.9643rem + -9.8214vw, 25rem));
    height: 500px;
    width: 500px;
    padding-top: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    background-image: url('../../../../public/assets/icons/bg_shape_references.svg');

    &:hover {
        transition: all 0.5s ease-in-out;
        background-image: url('../../../../public/assets/icons/bg_shape_references_hover.svg');
    }

    .name {
        padding-bottom: 8px;
        font-size: calc(3.125rem - clamp(1.5rem, 1.6607rem + -0.1786vw, 1.625rem));
        font-weight: 600;
    }

    .project {
        padding-bottom: calc(2.25rem - clamp(1rem, 1.3214rem + -0.3571vw, 1.25rem));
        font-size: 18px;
    }

    .quote {
        width: calc(41.5rem - clamp(17.625rem, 33.6964rem + -17.8571vw, 23.875rem));
        height: calc(19.6rem - clamp(7.5rem, 19.3286rem + -13.1429vw, 12.1rem));
        font-size: calc(2.125rem - clamp(1rem, 1.1607rem + -0.1786vw, 1.125rem));
        //text left-aligned for mobile
        text-align: center;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 12px;
        }

        &::-webkit-scrollbar-track {
            background: var(--color-primary);
            border-radius: 30px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--color-grey);
            border-radius: 30px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: var(--color-lightgrey);
        }
    }

    .linkedin {
        padding-top: 24px;
        color: var(--color-secondary);
        font-size: 16px;
        text-decoration: underline;
    }
}