h2 {
    font-size: 32px;
    padding-bottom: calc(5rem - clamp(1.5rem, 4.0714rem + -2.8571vw, 3.5rem));
}

.references {
    width: 100%;
    max-width: 1440px !important;
    padding: 0 16px;
    display: grid;
    grid-auto-flow: column;
    column-gap: clamp(1rem, 0.7857rem + 1.0714vw, 1.75rem);
    overflow-x: auto;
}

.reference {
    width: clamp(18.75rem, 16.0714rem + 13.3929vw, 28.125rem);
    aspect-ratio: 1;
    margin-bottom: clamp(0.25rem, 0.0357rem + 1.0714vw, 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: default;
    transition: all 0.5s ease-in-out;
    background-image: url('../../../../public/assets/icons/bg_shape_references.svg');

    &:hover {
        transition: all 0.5s ease-in-out;
        background-image: url('../../../../public/assets/icons/bg_shape_references_hover.svg');
    }

    .name {
        padding-bottom: 8px;
        font-size: calc(3.125rem - clamp(1.5rem, 1.6607rem + -0.1786vw, 1.625rem));
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .project {
        padding-bottom: calc(2.25rem - clamp(1rem, 1.3214rem + -0.3571vw, 1.25rem));
        font-size: 18px;
    }

    .quote {
        width: clamp(16rem, 14.1429rem + 9.2857vw, 22.5rem);
        height: clamp(10.625rem, 9.4464rem + 5.8929vw, 14.75rem);
        padding-right: clamp(0.125rem, 0.0536rem + 0.3571vw, 0.375rem);
        font-size: calc(2.125rem - clamp(1rem, 1.1607rem + -0.1786vw, 1.125rem));
        text-align: center;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .linkedin {
        padding-top: calc(2.75rem - clamp(1.25rem, 1.5714rem + -0.3571vw, 1.5rem));
        color: var(--color-secondary);
        font-size: 16px;
        text-decoration: underline;
    }
}

@media (max-width: 880px) {
    h2 {
        span {
            color: var(--color-white);
            font-size: calc(2.375rem - clamp(1.125rem, 1.3214rem + -0.3571vw, 1.25rem));
        }
    }

    .references {
        justify-content: flex-start;
        padding: 0 8px 24px 8px;
    }
}