h2 {
    font-size: 32px;
    padding-bottom: calc(5rem - clamp(1.5rem, 4.0714rem + -2.8571vw, 3.5rem));
}

.references {
    padding: var(--padding-main-primary);
    display: flex;
    justify-content: center;
    gap: clamp(0.75rem, 1.7143rem + -1.0714vw, 1.5rem);
    overflow-x: auto;
}

.reference {
    height: calc(43.125rem - clamp(18.125rem, 26.9643rem + -9.8214vw, 25rem));
    width: calc(53.875rem - clamp(22.625rem, 33.7143rem + -12.3214vw, 31.25rem));
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    background-image: url('../../../../public/assets/icons/bg_shape_references.svg');

    &:hover {
        transition: all 0.5s ease-in-out;
        background-image: url('../../../../public/assets/icons/bg_shape_references_hover.svg');
    }

    .name {
        padding-bottom: 8px;
        font-size: calc(3.125rem - clamp(1.5rem, 1.6607rem + -0.1786vw, 1.625rem));
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
    }

    .project {
        padding-bottom: calc(2.25rem - clamp(1rem, 1.3214rem + -0.3571vw, 1.25rem));
        font-size: 18px;
    }

    .quote {
        width: calc(41.5rem - clamp(17.625rem, 33.6964rem + -17.8571vw, 23.875rem));
        height: calc(19.6rem - clamp(7.5rem, 19.3286rem + -13.1429vw, 12.1rem));
        font-size: calc(2.125rem - clamp(1rem, 1.1607rem + -0.1786vw, 1.125rem));
        text-align: center;
        overflow: auto;
    }

    .linkedin {
        padding-top: 24px;
        color: var(--color-secondary);
        font-size: 16px;
        text-decoration: underline;
    }
}

@media (max-width: 880px) {
    h2 {
        span {
            color: var(--color-white);
            font-size: calc(2.375rem - clamp(1.125rem, 1.3214rem + -0.3571vw, 1.25rem));
        }
    }

    .references {
        justify-content: flex-start;
        padding-bottom: 24px;
    }

    .reference >* {
        padding: 0 clamp(0rem, 1.7679rem + -3.2143vw, 1.125rem);
    }
}

@media (max-width: 550px) {
    .reference .quote {
        text-align: left;
    }
}