h2 {
    font-size: 32px;
    padding-bottom: calc(5rem - clamp(1.5rem, 4.0714rem + -2.8571vw, 3.5rem));
}

.references {
    padding: var(--padding-main-primary);
    display: flex;
    justify-content: center;
    gap: 12px;
}

.reference {
    //height: calc(43.125rem - clamp(18.125rem, 26.9643rem + -9.8214vw, 25rem));
    //width: calc(43.125rem - clamp(18.125rem, 26.9643rem + -9.8214vw, 25rem));
    height: 500px;
    width: 500px;
    padding-top: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    background-image: url('../../../../public/assets/icons/bg_shape_references.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
        transition: all 0.5s ease-in-out;
        background-image: url('../../../../public/assets/icons/bg_shape_references_hover.svg');
    }

    .name {
        padding-bottom: 8px;
        font-size: calc(3.125rem - clamp(1.5rem, 1.6607rem + -0.1786vw, 1.625rem));
        font-weight: 600;
    }

    .project {
        padding-bottom: calc(2.25rem - clamp(1rem, 1.3214rem + -0.3571vw, 1.25rem));
        font-size: 18px;
    }

    .quote {
        //max-width: calc(33.375rem - clamp(13.75rem, 21.3036rem + -8.3929vw, 19.625rem));
        width: 420px;
        //height: calc(13.125rem - clamp(5.625rem, 8.0357rem + -2.6786vw, 7.5rem));
        //height: calc(17.813rem - clamp(7.188rem, 11.6434rem + -5.0919vw, 10.625rem));
        font-size: calc(2.125rem - clamp(1rem, 1.1607rem + -0.1786vw, 1.125rem));
        //text left-aligned for mobile
        text-align: center;
        overflow: visible;
    }

    .linkedin {
        padding-top: 24px;
        color: var(--color-secondary);
        font-size: 16px;
        text-decoration: underline;
    }
}