section {
    padding: var(--padding-main-secondary);

    > div {
        display: flex;
        gap: 80px;
    }
}

.skills {
    max-width: 410px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.learning {
    flex: 1;
    //different for mobile
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    background-image: url('../../../../public/assets/icons/bg_shape_skills_learning.svg');

    &:hover {
        transition: all 0.5s ease-in-out;
        background-image: url('../../../../public/assets/icons/bg_shape_skills_learning_hover.svg');
    }

    >div {
        //16px for mobile
        gap: 24px;
        display: flex;
    }
}