<section>
    <h2>{{language == 'DE'? 'Meine Skills': 'My Skills'}}</h2>
    <div>
        <div class="skills">
            <figure *ngFor="let icon of skillIcons; let i = index">
                <img [src]="icon.src" [alt]="icon.alt">
                <figcaption>{{icon.alt}}</figcaption>
            </figure>
        </div>
        <div class="learning bg-img-properties">
            <p>{{language == 'DE'? 'Zurzeit lerne ich': 'I am currently learning'}}</p>
            <div class="learning-icons bg-img-properties">
                <figure *ngFor="let icon of learningIcons; let i = index">
                    <img [src]="icon.src" [alt]="icon.alt">
                    <figcaption>{{icon.alt}}</figcaption>
                </figure>
            </div>
            <div class="small-screen-only">
                <a href="#contact"><button class="btn-primary">{{language == 'DE'? 'Kontakt': 'Let’s talk'}}</button></a>
            </div>
        </div>
    </div>
</section>