button {
    padding: 0;
    color: var(--color-primary);

    &:hover {
        color: var(--color-white);
    }
}

nav {
    height: 104px;
    padding: var(--padding-main-primary);
    z-index: 3;
    background: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        //not necessarily this width
        width: 70px;
    }

    .menu-links {
        height: 100%;
        display: flex;
        list-style-type: none;
        gap: 92px;

        button {
            height: 100%;
            //22px for burger menu
            font-size: 26px;
            font-weight: 500;
        }
    }

    .language-selection {
        display: flex;
        justify-content: space-between;

        button {
            padding: 6px 10px;
            font-size: 18px;
        }
    }
}

.btn-current-language {
    color: var(--color-white);
    background-image: url('../../../../../public/assets/icons/bg_shape_nav_language.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}