@font-face {
  font-display: swap;
  font-family: 'Anta';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Anta-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'JosefinSans';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/JosefinSans-Light.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'JosefinSans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'JosefinSans';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/JosefinSans-Medium.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'JosefinSans';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/JosefinSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'JosefinSans';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/JosefinSans-Bold.ttf') format('truetype');
}

:root {
  --color-primary: #262E34;
  --color-secondary: #89BCD9;
  --color-tertiary: #2d3840;
  --color-white: #F8F5EC;
  --color-grey: #3f464a;

  --padding-main-primary: 0 calc(8.312999999999999rem - clamp(1.5rem, 8.3310rem + -7.5900vw, 6.813rem));
  --padding-main-secondary:0 calc(19.625rem - clamp(1.5rem, 22.8750rem + -23.7500vw, 18.125rem));

  --fontsize-h1: calc(8.5rem - clamp(3rem, 6.2143rem + -3.5714vw, 5.5rem));
  --fontsize-h2: calc(5.75rem - clamp(2rem, 4.2500rem + -2.5000vw, 3.75rem));
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--color-white);
  font-family: 'JosefinSans';
  font-weight: 400;
  line-height: 1.2;
}

section {
  background-color: var(--color-primary);
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: var(--fontsize-h1);
}

h2 {
  padding-top: 104px;
  padding-bottom: 80px;
  font-size: var(--fontsize-h2);
  color: var(--color-secondary);
  text-align: center;
}

span {
  color: var(--color-secondary);
}

a {
  text-decoration: none;
}

button {
  padding: 13px 30px;
  background-color: unset;
  border: unset;
  cursor: pointer;
}

.btn-primary {
  font-size: calc(2rem - clamp(0.875rem, 1.1964rem + -0.3571vw, 1.125rem));
  border-radius: 30px;
  background-color: var(--color-secondary);
  color: var(--color-primary);

  &:hover {
    background-color: var(--color-white);
  }
}

.btn-secondary {
  font-size: calc(2rem - clamp(0.875rem, 1.1964rem + -0.3571vw, 1.125rem));
  border-radius: 30px;
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);

  &:hover {
    background-color: var(--color-grey);
  }
}

.arrow {
  width: 38px;
  cursor: pointer;
}