button,
button a {
    padding: 0;
    color: var(--color-primary);

    &:hover {
        color: var(--color-white) !important;
    }
}

nav {
    height: 104px;
    z-index: 3;
    position: sticky;
    top: 0;
    background: var(--color-secondary);

    section {
        width: 100%;
        height: 100%;
        padding: 0 calc(8.312999999999999rem - clamp(1.5rem, 15.1620rem + -15.1800vw, 6.813rem));
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu-links {
    height: 100%;
    width: calc(75rem - clamp(30rem, 68.5714rem + -42.8571vw, 45rem));
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: center;
    list-style-type: none;

    li {
        width: 100%;
        display: flex;
        justify-content: center;

        a {
            width: 100%;
            height: 100%;
            font-size: calc(3rem - clamp(1.375rem, 2.0179rem + -0.7143vw, 1.625rem));
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
            color: var(--color-primary);
        }
    }
}

.btn-current-section {
    color: var(--color-white) !important;
    background-image: url('../../../../public/assets/icons/bg_shape_navbar.svg');
    background-size: 84px 56px !important;
}

.language-selection {
    display: flex;
    justify-content: space-between;

    button {
        padding: 6px 10px;
        font-size: 18px;
    }
}

.btn-current-language {
    color: var(--color-white);
    background-image: url('../../../../public/assets/icons/bg_shape_navbar.svg');
}

.burger-menu img {
    width: calc(4.215rem - clamp(1.875rem, 2.6057rem + -1.3286vw, 2.34rem));
    height: calc(4.5rem - clamp(2rem, 2.7857rem + -1.4286vw, 2.5rem));
}

@media (max-width: 880px) {
    nav {
        height: 122px;
        background: var(--color-primary);

        section {
            padding: 0 calc(6rem - clamp(2rem, 5.1429rem + -5.7143vw, 4rem));
        }
    }
}