button,
button a {
    padding: 0;
    color: var(--color-primary);

    &:hover {
        color: var(--color-white) !important;
    }
}

nav {
    height: 104px;
    z-index: 3;
    position: sticky;
    top: 0;
    background: var(--color-secondary);

    section {
        width: 100%;
        height: 100%;
        padding: var(--padding-main-primary);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu-links {
    height: 100%;
    width: 100%;
    max-width: 720px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: center;
    list-style-type: none;

    li {
        width: 100%;
        display: flex;
        justify-content: center;


        a {
            width: 100%;
            height: 100%;
            //22px for burger menu
            font-size: 26px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
            color: var(--color-primary);
        }
    }
}

.btn-current-section {
    color: var(--color-white) !important;
    background-image: url('../../../../public/assets/icons/bg_shape_navbar.svg');
    background-size: 84px 56px !important;
}

.language-selection {
    display: flex;
    justify-content: space-between;

    button {
        padding: 6px 10px;
        font-size: 18px;
    }
}

.btn-current-language {
    color: var(--color-white);
    background-image: url('../../../../public/assets/icons/bg_shape_navbar.svg');
}